@import 'tailwindcss';

@theme {
  --color-primary: #2d3748;
  --color-primary-hover: #1a202c;
  --color-accent: #718096;
  --color-background-light: #f8f9fa;
  --color-surface-light: #ffffff;
  --font-display: 'Manrope', sans-serif;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
}
